@font-face {
    font-family: 'LPMQ Isep Misbah';
    src: url('../fonts/lpmq.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font-arabic {
    font-family: 'LPMQ Isep Misbah', 'Amiri', serif;
    font-size: 0.95em;
    /* Reduce visual size to match Latin */
    line-height: normal;
}